{{#if this.saved}}
    <a class="card-link btn btn-light unsave" data-id={{this.id}}>Unsave</a>
    <a class="card-link btn btn-light comments" data-id={{this.id}} data-headline="{{this.headline}}" data-toggle="collapse" data-target="#commentCollapse-{{this.id}}" aria-expanded="false" aria-controls="commentCollapse">Comment</a>

{{else}}
    <a class="card-link btn btn-light save" data-id={{this.id}}>Save</a>
{{/if}}
