{{#if this.saved}}
    <a class="button unsave" data-id={{this.id}}>Unsave</a>
    <a class="button comment" data-id={{this.id}} data-headline="{{this.headline}}">Comment</a>

{{else}}
    <a class="button save" data-id={{this.id}}>Save</a>
{{/if}}
