{{#if this.saved}}
    <a class="card-link btn btn-light unsave" data-id={{this.id}}>Unsave</a>
    <a class="card-link btn btn-light comments" data-id={{this.id}} data-headline="{{this.headline}}">Comment</a>

{{else}}
    <a class="card-link btn btn-light save" data-id={{this.id}}>Save</a>
{{/if}}
